# figma-managed npm registry config start
@d:registry=https://registry.figma.com/npm/a20a613b-8bd2-427c-96d3-f71a9d1c099b/registry/
@make-kits:registry=https://registry.figma.com/npm/a20a613b-8bd2-427c-96d3-f71a9d1c099b/registry/
# figma-managed npm registry config end
